.menu{
    display: flex;
    justify-content: center;
    background: #292F36;
    position: fixed; /* Rendre le menu statique */
    width: 100%; /* Largeur totale */
    top: 0; /* Le placer au sommet de la fenêtre */
    z-index: 1000;
    align-self: center;
    align-content: center;
    padding: 1%;
}

.menu button{ /* tous les liens a à l'intérieur de la balise nav */
    color: white; /* couleur du texte */
    background: #292F36; /* couleur de fond */
    height: 60px; /* hauteur */
    font-family: "Linotype Didot"; /* police d'écriture */
    font-style: italic;
    font-size: 20px; /* taille du texte */
    transition: background 1s ; /* temps de transition lors du hover*/
    border: none;
    width: 10%;
    text-align: center;
}

.menu button:hover{
    background: rgba(128, 128, 128, 0.27);
    border: 2px solid #f0f5d9 ;
    color: white;
    border-radius: 10px;}

.connexion {
    justify-content: right;
    color: black;
    z-index: 3000000;
}

.logo{
    z-index: 3000000;
    position: relative;
    top: 0px;
}

